.gi
  display: inline-block
  font: normal normal normal 28px/1 Werewolves
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)

  &.pull-left
    margin-right: .3em

  &.pull-right
    margin-left: .3em

.pull-left
  float: left

.pull-right
  float: right

.gi-inline
  margin-right: .5em

.gi-1x
  font-size: 1em
.gi-lg
  font-size: (4em / 3)
  line-height: (3em / 4)
  vertical-align: -15%
.gi-2x
  font-size: 2em
.gi-3x
  font-size: 3em
.gi-4x
  font-size: 4em
.gi-5x
  font-size: 5em
