.game-status
  td
    vertical-align: middle !important

  .player-info
    &.dead
      opacity: .2
      text-decoration: strike-through

  .status-icon
    &.capability
      background: tan

    &.status
      background: skyblue
      &.status-dead
        background: pink

    &.canceled
      opacity: .2
