table
  .editable
    width: 130px
    padding: 0 5px 1px 5px
    background: transparent

  input.editable
    border-bottom: 1px solid #999
    border-top: 0
    border-left: 0
    border-right: 0

.player-table
  .index
    text-align: center

  th.name
    padding: 5px 10px

.role-table
  .icon
    text-align: center

  .name
    padding: 5px 10px

  .header
    background: #eee

  .total
    background: #ddd
    .caption
      text-align: right

  .value
    span
      margin: 0 5px

    input
      display: inline
      margin: 0px 0px 0px 5px
      vertical-align: middle

      &[type=checkbox]
        width: 20px
        
      &[type=range]
        width: 100px
